.cross-fade-leave {
  opacity: 1; }
  .cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 1s ease-in; }

.cross-fade-enter {
  opacity: 0; }
  .cross-fade-enter.cross-fade-enter-active {
    delay: 0.1s;
    opacity: 1;
    transition: opacity 1s ease-in; }

.cross-fade-height {
  transition: height 2s ease-in-out; }

.sidebar-open-leave {
  transform: translateX(0);
  opacity: 1; }
  .sidebar-open-leave.sidebar-open-leave-active {
    transform: translateX(30vw);
    opacity: .9;
    transition: transform .6s ease-out, opacity .6s ease-in; }

.sidebar-open-enter {
  transform: translateX(30vw); }
  .sidebar-open-enter.sidebar-open-enter-active {
    transform: translateX(0);
    transition: transform .6s ease-out; }

.image-fade-leave {
  opacity: 1; }
  .image-fade-leave.image-fade-leave-active {
    opacity: 0;
    transition: opacity 2s ease-in; }

.image-fade-enter {
  opacity: 0; }
  .image-fade-enter.image-fade-enter-active {
    delay: .3s;
    opacity: 1;
    transition: opacity 2s ease-in; }

.image-fade-height {
  transition: height 4s ease-in-out; }
